ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#986cff;
    outline: 2px solid black;
    overflow: hidden;
}
li a{
    text-align: center;
    display:block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    outline: 1.5px solid black;
}

li{
    float:left;
}

li.p:hover{
    background-color: #55CDFC;
    color: black;
}
li.b:hover{
    background-color: #55CDFC;
    color: black;
}
li.pu:hover{
    background-color: #55CDFC;
    color: black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}





ul.Back{
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: 2px solid black;
    overflow: hidden;
}
li a.Back{
    text-align: center;
    display:block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    outline: 1.5px solid black;
}

li{
    float:left;
}